:root {
  --ribbon-color: #FD2621;
  --button-color: #FFC3C4;
  --thread-space: 100px; /* 糸のレーンを左に100px確保している */  
  --thread-left: 40px; /* 糸が引かれている左からの位置*/
}

* {
    box-sizing: border-box;
}


body {
    margin:0 auto;
    font-family: "Hiragino Mincho ProN", "Shippori Mincho Regular", serif;
    background-color: #FFFDF2;
}

header {
    max-width: 1700px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    font-size: 48px;
    text-align: left;
    margin: 100px 0 20px var(--thread-space);
    padding: 0 0 10px 20px;
    border-bottom: solid 3px var(--ribbon-color);    
}

.ribbon-pc {
    position: absolute;
    left: 0px;
    top: -20px;    
    width: 80px;
    height: 50px;
    z-index: 5;
    opacity: 0;
    transition: opacity 1s ease;     
}

.ribbon-pc.scroll {
    opacity: 1;
}

.ribbon-sp {
    display: none;
}


/* 糸含む全体 */
.page-wrapper {
    position: relative;
    max-width: 1080px;
    margin: 0 auto;
}

/* 糸 */

/* メインセクションの糸 */
#thread-line-top {
    position: absolute;
    top: 80px;
    left: var(--thread-left);
    width: 1px;
    height: calc(100% + 20px);
    background-color: var(--ribbon-color);
    z-index: 5;
    /* 糸の動き */
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 1.5s ease 0.5s;
}

#thread-line-top.scroll {
    transform: scaleY(1);
}

/* 他セクションの糸 */
.thread-line {
    position: absolute;
    left: var(--thread-left);
    width: 1px;
    height: calc(100% + 100px);
    background-color: var(--ribbon-color);
    z-index: 5;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 2.5s ease 0.5s;
}

.thread-line.scroll {
    transform: scaleY(1);
}

/* 最後のセクションのみ糸を短く */
#contact .thread-line {
    height: 100%;
}

/* ナビゲーション */
#hamburger-button {
    display: none;
}

header > h3 {
    padding-left: 100px;
    font-size: 24px;
    margin: 0;
}

#nav-pc {
    padding-right: 100px;
    font-size: 20px;
}

#nav-pc ul {
    display: flex;
    padding-left: 0;
    column-gap: 60px;
}

#nav-pc li {
    list-style: none;
}

#nav-pc a {
    text-decoration: none;
    color: #0d0d0d;
}

#nav-pc a:hover {
    text-decoration: underline;
}


/* Main Visual */
#main-visual {
    position: relative;
    /* height: 80vh; */
    height: clamp(600px, 80vh, 750px);
}

.main-message {
    width: 60%;
    padding: 0 0 0 var(--thread-space);
}

.main-text {
    position: relative; 
    font-size: 48px;
    z-index: 12;
    margin: 0;
    padding: 130px 0 0 0;
    font-weight: 300;
}

.main-text > span {
    color: var(--ribbon-color);
}

.sub-text{
    position: relative;
    padding: 24px 0 0 5px;
    z-index: 11;
    font-size: 24px;   
    font-weight: 300;
    line-height: 1.8;
}

.my-photo {
    /* ヒーローエリアの画像は、pagewrapper=1080pxより左右200pxずつ大きめに表示する */
    position: absolute;
    left: -200px;
    width: calc(100% + 400px);
    height: 100%;
    object-fit: cover;
    object-position: right center;
    z-index: 1;
}

/* Works */
#works {
    position: relative;
}

.works-title{
    font-size: 24px;
    text-align: center;
    padding-left: var(--thread-space);    
}

#card-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 50px;
    padding-left: var(--thread-space);
}

.cards{
    width: 450px;
}

.cards > img {
    width: 90%;
}

.source {
    display: inline-block;
    width: 80px;
}

.tool-figma {
    background-color: #B0D4E2;
    text-align: center;
    border-radius: 12px;
    padding: 2px 16px;    
}

.tool-photoshop {
    background-color: #FCC0EA;
    text-align: center;
    border-radius: 12px;
    padding: 2px 16px;
}

/* About */

#about {
    position: relative;
}

.about-container {
    display: flex;
    gap: 0 5%;
    margin: 100px 0 0 var(--thread-space);
    padding: 0 20px;
}

.about-img {
    width: 40%;
}

.about-photo {
    width: 100%;
    border-radius: 5%;
}

.about-text {
    width: 60%;
}

.about-text > h2 {
    margin: 0;
}

#skill-grid {
    display: grid;
    grid-template-columns: 120px 1fr;
    row-gap: 10px;
}

/* Contact */
#contact {
    position: relative;
}

#contact > p {
    margin-left: var(--thread-space);
}

.contact-table {
    width: 60%;
    max-width: 600px;
    margin: 40px auto 0;
}

.form-row {
    display: flex;
    flex-direction: column;
}

.table-title {
    padding: 20px 0 10px 0;    
}

.table-input {
    padding: 10px 0;
}

#yourname, #email {
    width: 100%;
    height: 48px;
}

#message {
    width: 100%;
    height: 220px;
}

#send-button {
    display: block; /* 中央揃えするためにはdivにする必要がある */
    margin: 16px auto 0;
    background-color: var(--button-color);
    border: none;
    padding: 5px 30px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-family: inherit; /* 親を継承 */
}

#send-button:hover {
    opacity: 0.8;
}

.error-message {
    color: var(--ribbon-color);
}

/* Footer */
footer p {
    text-align: center;
    margin: 100px 0 50px 0;
}

@media (max-width: 767px) {

    /* ヘッダ */
    header {
        margin: 20px auto;
    }

    #nav-pc {
        display: none;
    }

    #hamburger-button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        color: var(--ribbon-color);
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    #hamburger-button span {
        width: 30px;
        height: 2px;
        background-color: var(--ribbon-color);
    }

    header > h3 {
        padding-left: 20px;
        font-size: 20px;
    }

    /* 各セクションのタイトル */
    .section-title-wrapper {
        position: relative;
    }

    .section-title {
        font-size: 24px; 
        margin: 50px 20px 20px var(--thread-left); /*糸の位置から線を引く*/
        padding-bottom: 5px;
        border-bottom: solid 1px var(--ribbon-color);    
    }

    .ribbon-sp {
        display: block;
        position: absolute;
        left: 20px;
        top: 30px;    
        width: 40px;
        height: 25px;
        z-index: 5;      
    }



    /* Main Visual */    
    .main-message {
        width: 100%;
        padding-left: 60px;
    }

    .main-text {
        font-size: 32px;
    }

    .sub-text {
        font-size: 14px;
    }

    .my-photo {
        left: 0;
        width: 100%;
    }

    /* 糸 */
    .thread-line {
        display: none;
    }

    #thread-line-top {
        height: 350px;
        width: 1px;
    }

    /* SP側のリボンは、Section titleを親とする*/
    .ribbon-pc {
        display: none;      
    }
    

    /* Works */
    .works-title {
        font-size: 16px;
        margin-left: 0;
    }

    #card-area {
        margin-left: 0;
    }

    .cards{
        width: 80%;
    }

    .cards > img {
        width: 100%;
    }

    /* About */
    .about-container {
        display: block;
        margin: 0;
        padding: 0 40px;
        font-size: 14px;
    }

    .about-img {
        width: 80%;
        margin: 30px auto 0;
    }

    .about-text {
        width: 100%;
    }

    .about-text > h2 {
        margin: 0;
    }

    .skill-title {
        display: inline-block;
        width: 120px;
    }

    
    /* Contact */
    #contact p{
        margin-left: var(--thread-left);
        padding-right: 40px;
    }

}